.images-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .images-test img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .images-test img:hover {
    transform: scale(1.1);
  }